<p>home-page works!</p>
<button (click)="esServerConnectionClickHandler()" class="mt-2">Check ES server connection</button>
<p>ES version: {{ elasticServerVersion }}</p>
<p *ngIf="true">Error: {{ errorText }}
To start an ES server, run the following docker command:

</p>
<code *ngIf="true">
  docker container run \
	--rm \
	--name es01 \
	-e xpack.security.enabled=false \
	-e http.cors.enabled=true \
	-e http.cors.allow-origin="http://localhost:9100" \
	-e http.cors.allow-origin="http://localhost:4200" \
	-e http.cors.allow-headers="Authorization, X-Requested-With,X-Auth-Token,Content-Type, Content-Length" \
	-e discovery.type=single-node \
	-p 9200:9200 \
	-it \
	-m 1GB \
	docker.elastic.co/elasticsearch/elasticsearch:8.15.2
</code>
